header, footer,h1,p,h3 {
font-family: aktiv-grotesk,sans-serif;
font-weight: 400;
font-style: normal;
color:black;
}


body {

  font-size: 25px;
  background-color: white ; #ff4d36
  color: #333333;
  overflow: hidden;
  display: block;
}

header {
  position: relative;
}

div.heading {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
}

section {
position: absolute;
text-align:center;
margin: 0 auto;

}

h1,p  {
  font-size: 25px;
  font-weight: 400;
  margin: 0px 0px;
}

p {
  padding-right:35px
}


div.footing {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  bottom: 0;

}


footer a {
  padding-bottom: 15px;
  padding-left: 20px;
  color:black;
}

h2 img {
 transform: translateY(23px);
 padding-right: 20px;
 width: 80px;
}

h3 {
  color: #aaaaaa;
  font-size: 15px;
  font-weight: 100;
  margin: 0px 0px;
  padding-bottom: 15px;
  padding-left: 25px;
}
footer h3 a {
padding-left:0;
color: #aaaaaa;
}

@media( max-width: 900px) {

  header, footer,h1,p,h3 {
  font-family: aktiv-grotesk,sans-serif;
  font-weight: 400;
  font-style: normal;
  color:black;
  font-size: 15px;
  }

  h2 img {
   transform: translateY(5px);
   padding-right: 20px;
   width: 40px;
  }

  h3 {
    color: #aaaaaa;
    display: block;
    font-size: 10px;
    font-weight: 100;
    margin: 0px 0px;
    padding-bottom: 15px;
    padding-left: 0px;
    text-align:center;
  }
  footer h3 a {
  padding-left:0;
  color: #aaaaaa;
  }


}
